@use 'variables';
@use '../../node_modules/include-media/dist/include-media';

.LinkShortener {
    box-sizing: border-box;
    position: relative;
    .LSBox {
        .isNotLink {
            border: 3px solid #F46363;
            color: #F46363;
        }
        .NotLink {
            color: #F46363;
            margin: 0;
            margin-left: 8%;
            font: 500 italic 12px "Poppins";
            @include include-media.media('>=largePhone') {
                font-size: 18px;
            }
            @include include-media.media('>=desktop') {
                position: absolute;
                top: 75%;
                left: -4%;
                white-space: nowrap;
            }
        }
        .Input {
            @include variables.flex('column', 'space-evenly', 'center');
            width: 90%;
            position: relative;
            margin: -150px auto 0;
            top: -80px;
            padding: 10px 0;
            height: 40vw;
            max-height: 250px;
            max-width: 700px;
            background-color: variables.$darkerBlue;
            border-radius: 10px;
            background-image: url(../assets/img/bg-shorten-mobile.svg);
            background-position: 100%;
            background-repeat: no-repeat;
            @include include-media.media('>=largePhone') {
                top: -110px;
            }
            @include include-media.media('>=tablet') {
                top: -130px;
            }
            @include include-media.media('>=desktop') {
                max-width: 80%;
                max-height: 150px;
                top: 70px;
                background-image: url(../assets/img/bg-shorten-desktop.svg);
                @include variables.flex('row', 'center', 'center');
            }
            @include include-media.media('>=largeScreen') {
                top: 70px;
            }
            input, button {
                width: 85%;
                margin: auto;
                height: 50px;
                border-radius: 10px;
                @include include-media.media('>=largePhone') {
                    height: 70px;
                }
                @include include-media.media('>=desktop') {
                    height: 64px;
                }
            }
            input {
                font: 500 16px "Poppins";
                padding-left: 5%;
                box-sizing: border-box;
                &:focus {
                    outline-color: white;
                }
                @include include-media.media('>=largePhone') {
                    font-size: 20px;
                }
                @include include-media.media('>=desktop') {
                    width: 70%;
                    margin-right: 0;
                    padding-left: 3%;
                }
                &::placeholder {
                    padding-left: 3%;
                    font: 500 16px "Poppins";
                    @include include-media.media('>=largePhone') {
                        font-size: 20px;
                    }
                }
            }
            button {
                border: none;
                background-color: variables.$turquoise;
                color: white;
                font: 700 18px "Poppins";
                cursor: pointer;
                @include variables.buttonHover;
                @include include-media.media('>=largePhone') {
                    font-size: 24px;
                }
                @include include-media.media('>=desktop') {
                    width: 20%;
                }
            }
        }
    }
    .LinkList {
        @include variables.flex('column', 'space-evenly', 'center');
        width: 90%;
        height: auto;
        margin:  -10% auto 0;
        @include include-media.media('>=desktop') {
            margin: 100px auto 0;
        }
        .LinkBox {
            @include variables.flex('column', 'space-evenly', 'center');
            text-align: left;
            margin: 0 auto 10%;
            box-sizing: border-box;
            width: 100%;
            max-width: 700px;
            height: auto;
            min-height: 100px;
            padding: 0 0 5%;
            background-color: white;
            border-radius: 10px;
            @include include-media.media('>=desktop') {
                height: 50px;
                min-height: 50px;
                max-height: 50px;
                max-width: 88%;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 auto 1%;
                padding: 0;
            }
            .OrigLink, .LinkContainer {
                width: 100%;
            }
            .OrigLink {
                border-bottom: 1px solid variables.$gray;
                padding: 0 30px;
                max-height: 112.5px;
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                @include include-media.media('>=tablet') {
                    padding-left: 50px;
                }
                @include include-media.media('>=desktop') {
                    border: none;
                    padding: 0;
                    padding-left: 30px;
                    max-height: unset;
                    width: 50%;
                    overflow: unset;
                }
                p {
                    font-size: 18px;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include include-media.media('<=phone') {
                        font-size: 14px;
                    }
                    @include include-media.media('>=largePhone') {
                        font-size: 20px;
                    }
                    @include include-media.media('>=tablet') {
                        font-size: 28px;
                    }
                    @include include-media.media('>=desktop') {
                        font-size: 16px;
                    }
                }
            }
            .LinkContainer {
                @include variables.flex('column', 'space-around', 'center');
                color: variables.$turquoise;
                margin: auto;
                @include include-media.media('>=desktop') {
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 20px;
                    width: 60%;
                    margin-right: -13%;
                }
                p {
                    padding-left: 30px;
                    font-size: 18px;
                    @include include-media.media('<=phone') {
                        font-size: 14px;
                    }
                    @include include-media.media('>=largePhone') {
                        font-size: 20px;
                    }
                    @include include-media.media('>=tablet') {
                        font-size: 28px;
                        padding-left: 50px;
                    }
                    @include include-media.media('>=desktop') {
                        font-size: 16px;
                    }
                }
                button {
                    color: white;
                    background-color: variables.$turquoise;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    width: 90%;
                    height: 50px;
                    margin: 5% auto 0;
                    font: 700 22px "Poppins";
                    cursor: pointer;
                    @include variables.buttonHover;
                    @include include-media.media('>=largePhone') {
                        height: 60px;
                    }
                    @include include-media.media('>=largePhone') {
                        height: 80px;
                    }
                    @include include-media.media('>=desktop') {
                        height: 30px;
                        width: 120px;
                        font-size: 18px;
                        margin: 10px -14% 0 0;
                    }
                }
            }
            .Clicked {
                background-color: variables.$darkerBlue;
            }
        }
    }
}