// color variables

$black: #34313D;
$blacker: #232127;
$darkerBlue: #3A3054;
$lighterBlue: #4B3F6B;
$gray: #9E9AA8;
$lightGray: #EFF1F7;
$turquoise: #2BD0D0;
$lightTurquoise: #9AE3E3;

// mixins

@mixin flex($direction, $justification, $alignment) {
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$justification};
    align-items: #{alignment};
}

@mixin centerContent($direction) {
    display: flex;
    flex-direction: #{direction};
    justify-content: center;
    align-items: center;
}

@mixin hover {
    transition: color 0.5s;
    &:hover {
        color: $turquoise;
    }
}

@mixin buttonHover {
    transition: background-color 0.5s;
    &:hover {
        background-color: $lightTurquoise;
    }
}