@use 'variables';

@use 'navigation';
@use 'getStarted';
@use 'linkShortener';
@use 'about';
@use 'footer';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.App {
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    padding: 0;
    padding-left: 0;
    overflow-x: hidden;
}

// Fonts

h1 {
    font: 700 42px "Poppins";
}

h2 {
    font: 700 28px "Poppins";
}

h3 {
    font: 700 22px "Poppins";
}

h4 {
    font: 700 18px "Poppins";
}

p {
    font: 500 18px "Poppins";
}