@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap");
.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: alignment;
  width: 100%;
  padding: 7vh 5vw 0;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .Navigation {
    padding: 4vh 0 4vh 1.5vw;
    justify-content: space-evenly;
  }
}
.Navigation .Logo {
  height: 8vw;
  min-height: 30px;
  max-height: 60px;
  width: auto;
  margin: 0;
}
@media (min-width: 1024px) {
  .Navigation .Logo {
    width: auto;
    height: 4vw;
    max-height: 30px;
    max-width: 120px;
    min-height: none;
    min-width: none;
    margin: 10px -27% 0 -25%;
  }
}
.Navigation .Hamburger {
  max-height: 50px;
}
@media (min-width: 1024px) {
  .Navigation .Hamburger {
    display: none;
  }
}
.Navigation .Hamburger .Line {
  width: 7vw;
  max-width: 70px;
  height: 1vw;
  max-height: 7px;
  background-color: #9E9AA8;
  margin: 1.5vw 0;
}
.Navigation .Hamburger .Line:first-child {
  margin-top: 0;
}
.Navigation .Hamburger .Line:last-child {
  margin-bottom: 0;
}
.Navigation .closed {
  display: none;
}
.Navigation .open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: alignment;
  gap: 20px;
  position: absolute;
  background-color: #3A3054;
  width: 80vw;
  margin: auto;
  left: 5vw;
  top: 100px;
  border-radius: 10px;
  padding: 30px 20px;
}
.Navigation .open a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.Navigation .open h4 {
  display: flex;
  flex-direction: direction;
  justify-content: center;
  align-items: center;
  font: 700 18px "Poppins";
  margin: 10px auto;
}
.Navigation .open .mobileNavTop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  border-bottom: 1px solid #9E9AA8;
  padding-bottom: 20px;
}
.Navigation .open .mobileNavBot .MobileSignUp {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #2BD0D0;
  border-radius: 30px;
  transition: background-color 0.5s;
}
.Navigation .open .mobileNavBot .MobileSignUp:hover {
  background-color: #9AE3E3;
}
.Navigation .desktopNav {
  display: none;
}
@media (min-width: 1024px) {
  .Navigation .desktopNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: alignment;
    margin: -0.5% 0 0;
    padding: 0;
    gap: 15%;
  }
  .Navigation .desktopNav:last-child {
    margin-right: -20%;
  }
  .Navigation .desktopNav a {
    text-decoration: none;
    color: #9E9AA8;
    transition: color 0.5s;
    cursor: pointer;
  }
  .Navigation .desktopNav a:hover {
    color: #232127;
  }
  .Navigation .desktopNav a h4 {
    font: 700 15px "Poppins";
    white-space: nowrap;
  }
  .Navigation .desktopNav .DesktopSignUp {
    display: block;
    background-color: #2BD0D0;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 10px;
    transition: background-color 0.5s;
  }
  .Navigation .desktopNav .DesktopSignUp:hover {
    background-color: #9AE3E3;
  }
}

.GetStarted {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: alignment;
  padding: 400px 0 280px;
  width: 100%;
  margin: 0;
  background-image: url(../assets/img/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -10% 5%;
}
@media (min-width: 1024px) {
  .GetStarted {
    background-size: 55%;
    background-position: 125% 0;
    padding: 0 0 320px;
    height: auto;
  }
}
@media (min-width: 1500px) {
  .GetStarted {
    background-size: 45%;
    background-position: 115% 0;
    padding-bottom: 350px;
  }
}
.GetStarted h1, .GetStarted p {
  text-align: center;
}
@media (min-width: 1024px) {
  .GetStarted h1, .GetStarted p {
    text-align: left;
  }
}
.GetStarted h1 {
  color: #34313D;
  margin: 10vw auto 10px;
  width: 90%;
}
@media (min-width: 500px) {
  .GetStarted h1 {
    margin-top: 30vw;
  }
}
@media (min-width: 668px) {
  .GetStarted h1 {
    margin-top: 50vw;
  }
}
@media (min-width: 1024px) {
  .GetStarted h1 {
    margin: 0 0 0 10%;
    width: 50%;
    font-size: 70px;
  }
}
@media (min-width: 1500px) {
  .GetStarted h1 {
    width: 40%;
  }
}
.GetStarted p {
  width: 85%;
  margin: 0 auto;
  color: #9E9AA8;
}
@media (min-width: 1024px) {
  .GetStarted p {
    width: 45%;
    margin-left: 10%;
  }
}
.GetStarted button {
  width: 60%;
  max-width: 700px;
  margin: 40px auto 0;
  height: 56px;
  border-radius: 30px;
  border: none;
  background-color: #2BD0D0;
  color: white;
  font: 700 20px "Poppins";
  cursor: pointer;
  transition: background-color 0.5s;
}
.GetStarted button:hover {
  background-color: #9AE3E3;
}
@media (min-width: 500px) {
  .GetStarted button {
    height: 76px;
    font-size: 24px;
    margin-top: 60px;
    border-radius: 40px;
  }
}
@media (min-width: 1024px) {
  .GetStarted button {
    margin: 3% 0 0 10%;
    width: 18%;
    height: 56px;
    font-size: 20px;
  }
}
@media (min-width: 1500px) {
  .GetStarted button {
    width: 14%;
  }
}

.LinkShortener {
  box-sizing: border-box;
  position: relative;
}
.LinkShortener .LSBox .isNotLink {
  border: 3px solid #F46363;
  color: #F46363;
}
.LinkShortener .LSBox .NotLink {
  color: #F46363;
  margin: 0;
  margin-left: 8%;
  font: 500 italic 12px "Poppins";
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .NotLink {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .LinkShortener .LSBox .NotLink {
    position: absolute;
    top: 75%;
    left: -4%;
    white-space: nowrap;
  }
}
.LinkShortener .LSBox .Input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  width: 90%;
  position: relative;
  margin: -150px auto 0;
  top: -80px;
  padding: 10px 0;
  height: 40vw;
  max-height: 250px;
  max-width: 700px;
  background-color: #3A3054;
  border-radius: 10px;
  background-image: url(../assets/img/bg-shorten-mobile.svg);
  background-position: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input {
    top: -110px;
  }
}
@media (min-width: 668px) {
  .LinkShortener .LSBox .Input {
    top: -130px;
  }
}
@media (min-width: 1024px) {
  .LinkShortener .LSBox .Input {
    max-width: 80%;
    max-height: 150px;
    top: 70px;
    background-image: url(../assets/img/bg-shorten-desktop.svg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: alignment;
  }
}
@media (min-width: 1500px) {
  .LinkShortener .LSBox .Input {
    top: 70px;
    width: 60%;
  }
}
.LinkShortener .LSBox .Input input, .LinkShortener .LSBox .Input button {
  width: 85%;
  margin: auto;
  height: 50px;
  border-radius: 10px;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input input, .LinkShortener .LSBox .Input button {
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .LinkShortener .LSBox .Input input, .LinkShortener .LSBox .Input button {
    height: 64px;
  }
}
.LinkShortener .LSBox .Input input {
  font: 500 16px "Poppins";
  padding-left: 5%;
  box-sizing: border-box;
}
.LinkShortener .LSBox .Input input:focus {
  outline-color: white;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input input {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .LinkShortener .LSBox .Input input {
    width: 70%;
    margin-right: 0;
    padding-left: 3%;
  }
}
.LinkShortener .LSBox .Input input::placeholder {
  padding-left: 3%;
  font: 500 16px "Poppins";
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input input::placeholder {
    font-size: 20px;
  }
}
.LinkShortener .LSBox .Input button {
  border: none;
  background-color: #2BD0D0;
  color: white;
  font: 700 18px "Poppins";
  cursor: pointer;
  transition: background-color 0.5s;
}
.LinkShortener .LSBox .Input button:hover {
  background-color: #9AE3E3;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input button {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .LinkShortener .LSBox .Input button {
    width: 20%;
  }
}
.LinkShortener .LinkList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  gap: 5%;
  width: 90%;
  height: auto;
  margin: -10% auto 0;
}
.LinkShortener .LinkList .LinkBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  text-align: left;
  margin: 0 auto 10%;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  height: auto;
  min-height: 100px;
  padding: 0 0 5%;
  background-color: white;
  border-radius: 10px;
}
.LinkShortener .LinkList .LinkBox .OrigLink, .LinkShortener .LinkList .LinkBox .LinkContainer {
  width: 100%;
}
.LinkShortener .LinkList .LinkBox .OrigLink {
  border-bottom: 1px solid #9E9AA8;
  padding: 0 30px;
  max-height: 112.5px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 668px) {
  .LinkShortener .LinkList .LinkBox .OrigLink {
    padding-left: 50px;
  }
}
.LinkShortener .LinkList .LinkBox .OrigLink p {
  font-size: 18px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 320px) {
  .LinkShortener .LinkList .LinkBox .OrigLink p {
    font-size: 14px;
  }
}
@media (min-width: 500px) {
  .LinkShortener .LinkList .LinkBox .OrigLink p {
    font-size: 20px;
  }
}
@media (min-width: 668px) {
  .LinkShortener .LinkList .LinkBox .OrigLink p {
    font-size: 28px;
  }
}
.LinkShortener .LinkList .LinkBox .LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: alignment;
  color: #2BD0D0;
  margin: auto;
}
.LinkShortener .LinkList .LinkBox .LinkContainer p {
  padding-left: 30px;
  font-size: 18px;
}
@media (max-width: 320px) {
  .LinkShortener .LinkList .LinkBox .LinkContainer p {
    font-size: 14px;
  }
}
@media (min-width: 500px) {
  .LinkShortener .LinkList .LinkBox .LinkContainer p {
    font-size: 20px;
  }
}
@media (min-width: 668px) {
  .LinkShortener .LinkList .LinkBox .LinkContainer p {
    font-size: 28px;
    padding-left: 50px;
  }
}
.LinkShortener .LinkList .LinkBox .LinkContainer button {
  color: white;
  background-color: #2BD0D0;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  height: 50px;
  margin: 5% auto 0;
  font: 700 22px "Poppins";
  cursor: pointer;
  transition: background-color 0.5s;
}
.LinkShortener .LinkList .LinkBox .LinkContainer button:hover {
  background-color: #9AE3E3;
}
@media (min-width: 500px) {
  .LinkShortener .LinkList .LinkBox .LinkContainer button {
    height: 60px;
  }
}
@media (min-width: 500px) {
  .LinkShortener .LinkList .LinkBox .LinkContainer button {
    height: 80px;
  }
}
.LinkShortener .LinkList .LinkBox .Clicked {
  background-color: #3A3054;
}

.About {
  margin-top: -90px;
  padding: 150px 0 80px;
  background-color: #EFF1F7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  gap: 10px;
}
@media (min-width: 1024px) {
  .About {
    padding: 0;
  }
}
.About .TopInfo {
  margin: auto;
  text-align: center;
  padding-bottom: 80px;
  width: 90%;
}
@media (min-width: 1024px) {
  .About .TopInfo {
    padding: 100px 0;
  }
}
.About .TopInfo p {
  color: #9E9AA8;
}
@media (min-width: 1024px) {
  .About .TopInfo p {
    width: 50%;
    margin: auto;
  }
}
.About .NoDisplayMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: alignment;
  gap: 30px;
}
@media (max-width: 668px) {
  .About .NoDisplayMobile {
    display: none;
  }
}
@media (min-width: 1500px) {
  .About .NoDisplayMobile {
    gap: 60px;
  }
}
.About .NoDisplayMobile .Card {
  display: block;
}
.About .NoDisplayMobile .Card:nth-child(2) {
  margin-top: 2%;
}
.About .NoDisplayMobile .Card:last-child {
  margin-top: 4%;
  margin-bottom: 80px;
}
.About .NoDisplayMobile .Card .CardCircle {
  z-index: 2;
  position: relative;
  margin-left: 15%;
  width: 88px;
  height: 88px;
}
.About .NoDisplayMobile .Card .CardInfo {
  position: relative;
  width: 25vw;
  max-width: 400px;
  min-width: 200px;
  z-index: 1;
  height: 12vw;
  min-height: 150px;
  max-height: 300px;
}
@media (min-width: 1500px) {
  .About .NoDisplayMobile .Card .CardInfo {
    max-height: 150px;
  }
}
.About .NoDisplayMobile .Card .CardInfo h3 {
  font-size: 22px;
}
.About .NoDisplayMobile .Card .CardInfo p {
  font-size: 15px;
  margin-top: -5%;
}
.About .NoDisplayMobile .Card .vl2 {
  border-top: 8px solid #2BD0D0;
  width: 90px;
  position: relative;
  left: 90%;
  margin-left: -3px;
  top: -32%;
  z-index: 0;
}
@media (min-width: 1500px) {
  .About .NoDisplayMobile .Card .vl2 {
    top: -26%;
    width: 120px;
  }
}
.About .NoDisplayMobile .Card:nth-of-type(2) .vl2 {
  top: -40%;
}
.About .NoDisplayMobile .Card:last-of-type .vl2 {
  display: none;
}
.About .Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: alignment;
}
@media (min-width: 1024px) {
  .About .Card {
    display: none;
  }
}
.About .Card h3, .About .Card p {
  text-align: center;
}
.About .Card h3 {
  font-size: 22px;
}
@media (min-width: 500px) {
  .About .Card h3 {
    font-size: 26px;
  }
}
@media (min-width: 668px) {
  .About .Card h3 {
    font-size: 30px;
  }
}
.About .Card p {
  font-size: 15px;
  color: #9E9AA8;
  margin-top: 0;
  width: 85%;
  margin: auto;
}
@media (min-width: 500px) {
  .About .Card p {
    font-size: 18px;
  }
}
@media (min-width: 668px) {
  .About .Card p {
    font-size: 20px;
  }
}
.About .Card .CardCircle {
  white-space: pre-wrap;
  margin: -50px auto 0;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-color: #3A3054;
  border-radius: 100%;
  display: flex;
  flex-direction: direction;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .About .Card .CardCircle {
    margin-left: 10%;
  }
}
.About .Card .CardInfo {
  margin: -50px auto 0;
  background-color: white;
  width: 85%;
  padding: 60px 0 50px;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .About .Card .CardInfo {
    width: 30%;
  }
}
.About .Card .vl {
  border-left: 10px solid #2BD0D0;
  height: 90px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
@media (min-width: 1024px) {
  .About .Card .vl {
    display: none;
  }
}
.About .Card:last-of-type .vl {
  display: none;
}
.About .Loading {
  margin: auto;
}

.Footer .FooterTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: alignment;
  text-align: center;
  background-color: #3A3054;
  background-image: url(../assets/img/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  color: white;
  padding: 20% 0;
}
@media (min-width: 1024px) {
  .Footer .FooterTop {
    padding: 1% 0 5%;
    background-image: url(../assets/img/bg-boost-desktop.svg);
    background-size: cover;
  }
}
.Footer .FooterTop button {
  width: 60%;
  margin: auto;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #2BD0D0;
  color: white;
  font: 700 20px "Poppins";
  cursor: pointer;
  transition: background-color 0.5s;
}
.Footer .FooterTop button:hover {
  background-color: #9AE3E3;
}
@media (min-width: 500px) {
  .Footer .FooterTop button {
    font-size: 24px;
    height: 76px;
    border-radius: 40px;
    margin-top: 5%;
  }
}
@media (min-width: 1024px) {
  .Footer .FooterTop button {
    margin-top: 0;
    width: 30%;
    height: 55px;
  }
}
.Footer .FooterBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: alignment;
  background-color: #232127;
  padding-top: 18%;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .Footer .FooterBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: alignment;
    padding-top: 0;
    height: 250px;
  }
}
.Footer .FooterBottom img {
  filter: brightness(0) invert(100);
  margin: auto;
  margin-bottom: 10%;
}
@media (min-width: 500px) {
  .Footer .FooterBottom img {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .Footer .FooterBottom img {
    width: 10%;
    margin-top: 50px;
    height: 16%;
  }
}
@media (min-width: 1500px) {
  .Footer .FooterBottom img {
    height: 18%;
    width: 8%;
  }
}
.Footer .FooterBottom .FooterList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: alignment;
  margin: auto;
  text-align: center;
}
@media (min-width: 1024px) {
  .Footer .FooterBottom .FooterList {
    margin-top: 30px;
  }
}
.Footer .FooterBottom .FooterList .FooterTitle {
  color: white;
  font: 700 16px "Poppins";
  cursor: default;
}
.Footer .FooterBottom .FooterList .FooterTitle:hover {
  color: white;
}
@media (min-width: 500px) {
  .Footer .FooterBottom .FooterList .FooterTitle {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .Footer .FooterBottom .FooterList .FooterTitle {
    font-size: 16px;
  }
}
.Footer .FooterBottom .FooterList p {
  color: #9E9AA8;
  font: 500 15px "Poppins";
  cursor: pointer;
  transition: color 0.5s;
}
.Footer .FooterBottom .FooterList p:hover {
  color: #2BD0D0;
}
@media (min-width: 500px) {
  .Footer .FooterBottom .FooterList p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .Footer .FooterBottom .FooterList p {
    font-size: 15px;
  }
}
.Footer .FooterBottom .SocIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: alignment;
  width: 50%;
  margin: 5% auto 0;
  max-width: 150px;
}
@media (min-width: 500px) {
  .Footer .FooterBottom .SocIcons {
    max-width: 300px;
  }
}
@media (min-width: 1024px) {
  .Footer .FooterBottom .SocIcons {
    margin-top: 0px;
  }
}
.Footer .FooterBottom .SocIcons img {
  width: auto;
  cursor: pointer;
}
.Footer .FooterBottom .SocIcons img:hover {
  filter: brightness(0) invert(63%) sepia(79%) saturate(389%) hue-rotate(131deg) brightness(94%) contrast(94%);
}
@media (min-width: 500px) {
  .Footer .FooterBottom .SocIcons img {
    min-height: 30px;
    max-height: 60px;
  }
}
@media (min-width: 1024px) {
  .Footer .FooterBottom .SocIcons img {
    width: 2.5vw;
    height: 2.5vw;
  }
}
@media (min-width: 1500px) {
  .Footer .FooterBottom .SocIcons img {
    width: 2vw;
    height: 2vw;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #2BD0D0;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.App {
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-left: 0;
  overflow-x: hidden;
}

h1 {
  font: 700 42px "Poppins";
}
@media (min-width: 500px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 668px) {
  h1 {
    font-size: 54px;
  }
}

h2 {
  font: 700 28px "Poppins";
}
@media (min-width: 500px) {
  h2 {
    font-size: 34px;
  }
}
@media (min-width: 668px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font: 700 22px "Poppins";
}
@media (min-width: 500px) {
  h3 {
    font-size: 28px;
  }
}
@media (min-width: 668px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font: 700 18px "Poppins";
}
@media (min-width: 500px) {
  h4 {
    font-size: 22px;
  }
}
@media (min-width: 668px) {
  h4 {
    font-size: 26px;
  }
}

p {
  font: 500 18px "Poppins";
}
@media (min-width: 500px) {
  p {
    font-size: 20px;
  }
}
@media (min-width: 668px) {
  p {
    font-size: 22px;
  }
}

/*# sourceMappingURL=styles.css.map */
