@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap");
.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: alignment;
  width: 100%;
  padding: 40px 3vw 0;
  box-sizing: border-box;
}
.Navigation .Logo {
  height: 12vw;
  min-height: 30px;
  max-height: 60px;
  width: auto;
  margin: 0;
}
.Navigation .Hamburger {
  margin-top: 10px;
  max-height: 50px;
}
.Navigation .Hamburger .Line {
  width: 7vw;
  max-width: 70px;
  height: 1vw;
  max-height: 7px;
  background-color: #9E9AA8;
  margin: 1.5vw 0;
}
.Navigation .Hamburger .Line:first-child {
  margin-top: 0;
}
.Navigation .Hamburger .Line:last-child {
  margin-bottom: 0;
}
.Navigation .closed {
  display: none;
}
.Navigation .open {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: alignment;
  gap: 20px;
  position: absolute;
  background-color: #3A3054;
  width: 80vw;
  margin: auto;
  left: 5vw;
  top: 100px;
  border-radius: 10px;
  padding: 30px 20px;
}
.Navigation .open a {
  text-decoration: none;
  color: white;
}
.Navigation .open h4 {
  display: flex;
  flex-direction: direction;
  justify-content: center;
  align-items: center;
  font: 700 18px "Poppins";
  margin: 10px auto;
}
.Navigation .open .mobileNavTop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  border-bottom: 1px solid #9E9AA8;
  padding-bottom: 20px;
}
.Navigation .open .mobileNavBot .MobileSignUp {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #2BD0D0;
  border-radius: 30px;
}
.Navigation .desktopNav {
  display: none;
}

.GetStarted {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: alignment;
  padding: 400px 0 280px;
  width: 100%;
  margin: 0;
  background-image: url(../assets/img/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: -10% 5%;
}
.GetStarted h1, .GetStarted p {
  text-align: center;
}
.GetStarted h1 {
  color: #34313D;
  margin: 10vw auto 10px;
  width: 90%;
}
@media (min-width: 500px) {
  .GetStarted h1 {
    margin-top: 30vw;
  }
}
@media (min-width: 668px) {
  .GetStarted h1 {
    margin-top: 50vw;
  }
}
.GetStarted p {
  width: 85%;
  margin: 0 auto;
  color: #9E9AA8;
}
.GetStarted button {
  width: 60%;
  max-width: 700px;
  margin: 40px auto 0;
  height: 56px;
  border-radius: 30px;
  border: none;
  background-color: #2BD0D0;
  color: white;
  font: 700 20px "Poppins";
}
@media (min-width: 500px) {
  .GetStarted button {
    height: 76px;
    font-size: 24px;
    margin-top: 60px;
    border-radius: 40px;
  }
}

.LinkShortener {
  box-sizing: border-box;
  position: relative;
}
.LinkShortener .LSBox .isNotLink {
  border: 3px solid #F46363;
  color: #F46363;
}
.LinkShortener .LSBox .NotLink {
  color: #F46363;
  margin: 0;
  margin-left: 8%;
  font: 500 italic 12px "Poppins";
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .NotLink {
    font-size: 18px;
  }
}
.LinkShortener .LSBox .Input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  width: 90%;
  position: relative;
  margin: -150px auto 0;
  top: -80px;
  padding: 10px 0;
  height: 40vw;
  max-height: 250px;
  max-width: 700px;
  background-color: #3A3054;
  border-radius: 10px;
  background-image: url(../assets/img/bg-shorten-mobile.svg);
  background-position: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input {
    top: -110px;
  }
}
@media (min-width: 668px) {
  .LinkShortener .LSBox .Input {
    top: -130px;
  }
}
.LinkShortener .LSBox .Input input, .LinkShortener .LSBox .Input button {
  width: 85%;
  margin: auto;
  height: 50px;
  border-radius: 10px;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input input, .LinkShortener .LSBox .Input button {
    height: 70px;
  }
}
.LinkShortener .LSBox .Input input {
  font: 500 16px "Poppins";
  padding-left: 5%;
  box-sizing: border-box;
}
.LinkShortener .LSBox .Input input:focus {
  outline-color: white;
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input input {
    font-size: 20px;
  }
}
.LinkShortener .LSBox .Input input::placeholder {
  padding-left: 5%;
  font: 500 16px "Poppins";
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input input::placeholder {
    font-size: 20px;
  }
}
.LinkShortener .LSBox .Input button {
  border: none;
  background-color: #2BD0D0;
  color: white;
  font: 700 18px "Poppins";
}
@media (min-width: 500px) {
  .LinkShortener .LSBox .Input button {
    font-size: 24px;
  }
}
.LinkShortener .LinkList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  gap: 5%;
  width: 90%;
  height: auto;
  margin: -10% auto 0;
}
.LinkShortener .LinkList .LinkBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  text-align: left;
  margin: 0 auto 10%;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 40vw;
  padding: 0 0 5%;
  background-color: white;
  border-radius: 10px;
}
.LinkShortener .LinkList .LinkBox .OrigLink, .LinkShortener .LinkList .LinkBox .LinkContainer {
  width: 100%;
}
.LinkShortener .LinkList .LinkBox .OrigLink {
  border-bottom: 1px solid #9E9AA8;
  padding: 0 30px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
.LinkShortener .LinkList .LinkBox .OrigLink p {
  font-size: 22px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.LinkShortener .LinkList .LinkBox .LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: alignment;
  color: #2BD0D0;
  margin: auto;
}
.LinkShortener .LinkList .LinkBox .LinkContainer p {
  padding-left: 30px;
  font-size: 22px;
}
.LinkShortener .LinkList .LinkBox .LinkContainer button {
  color: white;
  background-color: #2BD0D0;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  height: 42px;
  margin: auto;
  font: 700 22px "Poppins";
}
@media (min-width: 500px) {
  .LinkShortener .LinkList .LinkBox .LinkContainer button {
    height: 60px;
  }
}
.LinkShortener .LinkList .LinkBox .Clicked {
  background-color: #3A3054;
}

.About {
  margin-top: -90px;
  padding: 150px 0 80px;
  background-color: #EFF1F7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: alignment;
  gap: 10px;
}
.About .TopInfo {
  margin: auto;
  text-align: center;
  padding-bottom: 80px;
  width: 90%;
}
.About .TopInfo p {
  color: #9E9AA8;
}
.About .Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: alignment;
}
.About .Card h3, .About .Card p {
  text-align: center;
}
.About .Card h3 {
  font-size: 22px;
}
@media (min-width: 500px) {
  .About .Card h3 {
    font-size: 26px;
  }
}
@media (min-width: 668px) {
  .About .Card h3 {
    font-size: 30px;
  }
}
.About .Card p {
  font-size: 15px;
  color: #9E9AA8;
  margin-top: 0;
  width: 85%;
  margin: auto;
}
@media (min-width: 500px) {
  .About .Card p {
    font-size: 18px;
  }
}
@media (min-width: 668px) {
  .About .Card p {
    font-size: 20px;
  }
}
.About .Card .CardCircle {
  white-space: pre-wrap;
  margin: -50px auto 0;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-color: #3A3054;
  border-radius: 100%;
  display: flex;
  flex-direction: direction;
  justify-content: center;
  align-items: center;
}
.About .Card .CardInfo {
  margin: -50px auto 0;
  background-color: white;
  width: 85%;
  padding: 60px 0 50px;
  border-radius: 10px;
}
.About .Card .vl {
  border-left: 10px solid #2BD0D0;
  height: 90px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.About .Card:last-of-type .vl {
  display: none;
}
.About .Loading {
  margin: auto;
}

.Footer .FooterTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: alignment;
  text-align: center;
  background-color: #3A3054;
  background-image: url(../assets/img/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  color: white;
  padding: 20% 0;
}
.Footer .FooterTop button {
  width: 60%;
  margin: auto;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #2BD0D0;
  color: white;
  font: 700 20px "Poppins";
}
@media (min-width: 500px) {
  .Footer .FooterTop button {
    font-size: 24px;
    height: 76px;
    border-radius: 40px;
    margin-top: 5%;
  }
}
.Footer .FooterBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: alignment;
  background-color: #232127;
  padding-top: 18%;
  padding-bottom: 30px;
}
.Footer .FooterBottom img {
  filter: brightness(0) invert(100);
  margin: auto;
  margin-bottom: 10%;
}
@media (min-width: 500px) {
  .Footer .FooterBottom img {
    width: 30%;
  }
}
.Footer .FooterBottom .FooterList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: alignment;
  margin: auto;
  text-align: center;
}
.Footer .FooterBottom .FooterList .FooterTitle {
  color: white;
  font: 700 16px "Poppins";
}
@media (min-width: 500px) {
  .Footer .FooterBottom .FooterList .FooterTitle {
    font-size: 24px;
  }
}
.Footer .FooterBottom .FooterList p {
  color: #9E9AA8;
  font: 500 15px "Poppins";
}
@media (min-width: 500px) {
  .Footer .FooterBottom .FooterList p {
    font-size: 20px;
  }
}
.Footer .FooterBottom .SocIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: alignment;
  width: 50%;
  margin: 5% auto 0;
  max-width: 150px;
}
@media (min-width: 500px) {
  .Footer .FooterBottom .SocIcons {
    max-width: 300px;
  }
}
.Footer .FooterBottom .SocIcons img {
  width: auto;
}
@media (min-width: 500px) {
  .Footer .FooterBottom .SocIcons img {
    min-height: 30px;
    max-height: 60px;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #2BD0D0;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.App {
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-left: 0;
  overflow-x: hidden;
}

h1 {
  font: 700 42px "Poppins";
}
@media (min-width: 500px) {
  h1 {
    font-size: 48px;
  }
}
@media (min-width: 668px) {
  h1 {
    font-size: 54px;
  }
}

h2 {
  font: 700 28px "Poppins";
}
@media (min-width: 500px) {
  h2 {
    font-size: 34px;
  }
}
@media (min-width: 668px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font: 700 22px "Poppins";
}
@media (min-width: 500px) {
  h3 {
    font-size: 28px;
  }
}
@media (min-width: 668px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font: 700 18px "Poppins";
}
@media (min-width: 500px) {
  h4 {
    font-size: 22px;
  }
}
@media (min-width: 668px) {
  h4 {
    font-size: 26px;
  }
}

p {
  font: 500 18px "Poppins";
}
@media (min-width: 500px) {
  p {
    font-size: 20px;
  }
}
@media (min-width: 668px) {
  p {
    font-size: 22px;
  }
}

/*# sourceMappingURL=styles.css.map */
